<html>
<head>
<meta charset="UTF-8">
<title>云连网</title>
<link href="../../../../css/global.css" type="text/css" rel="stylesheet">
<link href="../../../../css/pages/portal-viewer.css" type="text/css"
	rel="stylesheet">
<script type="text/javascript"
	src="../../../../js/jquery/jquery-2.1.4.js"></script>
<style type="text/css">
#content_inner>.body>pre>img {
	width: 100%;
}

.grid-s5m0e5 {
	height: 1200px;
}
</style>
</head>
<body>
	<div class="topbar">
		<ul class="left">
			<li class="about"><span label>关于</span></li>
		</ul>
		<ul class="right">
			<li class="mine"><a target="_blank"
				href="../../../../public/register2.html">注册</a></li>
			<li class="login"><span label>登录</span></li>
		</ul>
	</div>
	<div class="banner">
		<div class="b-left"></div>
		<div class="b-center">
			<div class="logo">
				<img src="../../../../img/pages/logo.png">
				<p>云网</p>
			</div>
		</div>
		<div class="b-right"></div>
	</div>
	<div class="grid-s5m0e5">
		<div class="col-main">
			<div class="main-wrap">
				<div id="content">
					<div id="content_inner">
						<div class="title">
							<p>云计算的风潮必然导致云计算机系统的产生</p>
						</div>
						<div class="subtitle">
							<ul>
								<li><span label>作者：</span><span value
									style="padding-right: 10px;">cj</span><span label>发布：</span>2016-8-13
									22:39</li>
							</ul>
						</div>
						<div class="body">
							<pre>
	云计算风行了这么多年了，许多厂商还只是架个docker在服务器端使命的叫唤，对于用户来讲，他们根本看不到云在哪里，为他们带了些什么。正因如此，云计算需要组团儿面向终端客户，提供一体化服务。一如之初office新出的时代，
	在它出来之前，已有了数据库、字处理等应用，但是唯有盖次想到了将之组团提供一个office套件推向用户，自此一发不可收拾。<br>
	乔帮主大概也是这意思，你能触屏当时的nokie更能触，你有应用市场，人家塞班也有，但乔帮主将操作体验一体化了，将许多体验，组团推向用户，成就了一代帮主。
	因此，云计算也要组团面向用户，提取出云计算机的概念，构勒出云计算机的体验。目前最适合于计算机化的方案，就是要建设一个可跨终端，有应用市场，可供用户安装，有开发者向市场发布应用，有企业订制和运营云计算机并向其用户提供窗口服务的云计算机平台。
	那么，现今有了这样的平台，就是本网的运计算平台。
	
	快去申请验证吧。							
 					</pre>
						</div>
						<div class="bottom"></div>
					</div>
				</div>
				<div id="side">
					<div class="fill"></div>
					<div class="portlet">
						<div class="title">
							<span label>相关</span>
						</div>
						<ul class="items">
							<li><a href="../views/ecm.html" plugin target="_blank">理论：《面向连接编程思想》</a></li>
			<li><a href="../views/rensheng.html" plugin target="_blank">人生：关于慈善 新时代中慈善意义之我见</a></li>
			<li><a href="../views/jishu.html" plugin target="_blank">技术：深入分析Docker镜像原理</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sub"></div>
		<div class="col-extra"></div>
	</div>
</body>
</html>