<html>
<head>
<meta charset="UTF-8">
<title>云连网</title>
<link href="../../../../css/global.css" type="text/css" rel="stylesheet">
<link href="../../../../css/pages/portal-viewer.css" type="text/css"
	rel="stylesheet">
<script type="text/javascript"
	src="../../../../js/jquery/jquery-2.1.4.js"></script>
<style type="text/css">
#content_inner > .body > pre>img{
	width:100%;
}
.grid-s5m0e5{
	height: 1200px;
}
</style>
</head>
<body>
	<div class="topbar">
		<ul class="left">
			<li class="about"><span label>关于</span></li>
		</ul>
		<ul class="right">
			<li class="mine"><a target="_blank"
				href="../../../../public/register2.html">注册</a></li>
			<li class="login"><span label>登录</span></li>
		</ul>
	</div>
	<div class="banner">
		<div class="b-left"></div>
		<div class="b-center">
			<div class="logo">
				<img src="../../../../img/pages/logo.png">
				<p>云网</p>
			</div>
		</div>
		<div class="b-right"></div>
	</div>
	<div class="grid-s5m0e5">
		<div class="col-main">
			<div class="main-wrap">
				<div id="content">
					<div id="content_inner">
						<div class="title">
							<p>关于慈善的文章</p>
						</div>
						<div class="subtitle">
							<p style="text-align: center;">新时代中慈善意义之我见</p>
							<ul>
								<li><span label>作者：</span><span value style="padding-right: 10px;">李倩</span><span label>转载自：</span><a href="http://www.fwsir.com/fanwen/HTML/fanwen_20130203142159_207593.html">
										fwsir</a></li>
							</ul>
						</div>
						<div class="body">
							<pre>
    	岁月如歌，年华如同指间滴漏的流沙，荏苒的青春像是夜空中转瞬即逝的流星般一去不复返，等我们两鬓风霜时再去回忆从前生活里的每一天，静观这匆匆人生的旅途中，哪些过往的时光是幸福的，哪些又是让我们终身难忘的，恐怕谁都理不清这一团乱麻。有些人想起的是任途坎坷、宦海沉浮；有些人想起的是商贾拼搏、命运蹉跎；有些人想起的是青涩初恋、旧梦红颜；但更多人想起的还是自己这一生里索取到的名和利的多与寡。
　　
　　记得清史稿中记载这样的一则趣事：某年秋汛过后，乾隆皇帝南下至江苏镇江的金山寺，眼望着长江中百舸争流、穿梭不息的各种官商客船问身边的高僧法磐说：“船中所载的都是什么物件？”法磐略思片刻便直说出两个字：“名利。”正所谓问者无心、听者有意，法磐高僧这一语就道破了千百年来隐藏于黎民众生心底最深处的秘密。是啊，无论是现世安稳的年代里，还是流离乱世的岁月中，名与利都是芸芸众生们孜孜追寻、梦寐以求的东西，且为达此目的而不择手段者又是前仆后继、比比皆是的。可纵观五千年的中华文明史能集齐集满名与利的人又是寥寥无几，这是因为君子求名利要名正言顺、取之有道：小人求名利则利令智昏、丧尽天良，所以更多的古圣先贤们早就看透了命运的轮回与人世间的繁华，将一切名利视如云烟，将荣华富贵当作浮尘，淡泊处世且又不忘多行慈爱善意之举，以助人即是助己为乐事，不求索取于世，只愿施舍于人。
　　
　　我们当今称为慈善事业的这些事儿，其实就是对古代那些慈爱善意之举的继承与延续，今天的慈善已经与古代的那种简单的财物赠予不同了，当今的慈善事业更多的是一种精神上的施与，是一种正能量的传递，是一种对美好生活的向往力，是一种对不同人生境遇豁达心态的调整力，更是一种对贫穷与富有的理解与包容力。所以，慈善不只是一种爱心的奉献，更是一种社会良知的体现，不仅富人们要积极去参加各种施与的活动，穷人们也要能理解得到帮助的意义，这就是当你帮助了别人，又见到别人去帮助了想得到帮助的那些人时，你是不是也能从他们得到帮助的过程中感觉到自己也幸福和快乐呢？得到幸福其实是件很简单的事，就在于你是否愿意首先去帮助别人，只有懂得了施与，才能学会如何去施与，在施与别人的同时找到自己的快乐，这就是古人常说的助人即是助己的精神追求与人生哲学。
　　
　　慈善不是简单的施与，它是人类社会中最伟大和最崇高的事业，当我们真心实意的去做关于慈善的任何事情的时候，总是能在其中找到让我们幸福与快乐的真谛的。我们要懂得慈善的真实内涵，只有这样我们的国家才会昌盛，我们的社会才会和谐，我们的人生才会璀璨升华且不留下任何遗憾。												
							</pre>
						</div>
						<div class="bottom"></div>
					</div>
				</div>
				<div id="side">
					<div class="fill"></div>
					<div class="portlet">
						<div class="title">
							<span label>相关</span>
						</div>
						<ul class="items">
								<li><a href="../views/ecm.html" plugin target="_blank">理论：《面向连接编程思想》</a></li>
			<li><a href="../views/cloud.html" plugin target="_blank">观点：云计算的风潮必然导致云计算机系统的产生</a></li>
			<li><a href="../views/jishu.html" plugin target="_blank">技术：深入分析Docker镜像原理</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sub"></div>
		<div class="col-extra"></div>
	</div>
</body>
</html>