<html>
<head>
<meta charset="UTF-8">
<title>云网</title>
<link href="../../../../css/global.css" type="text/css" rel="stylesheet">
<link href="../../../../css/pages/portal-viewer.css" type="text/css"
	rel="stylesheet">
<script type="text/javascript"
	src="../../../../js/jquery/jquery-2.1.4.js"></script>
<style type="text/css">
#content_inner>.body>pre>img {
	width: 100%;
}

.grid-s5m0e5 {
	height: 11800px;
}
#content_inner > .body > pre>.result{
	font-size: 10px;
	margin-left: 60px;
}
#content_inner > .body > pre>.style1{
font-size: 10px;
	margin-left: 60px;
}
</style>
</head>
<body>
	<div class="topbar">
		<ul class="left">
			<li class="about"><span label>关于</span></li>
		</ul>
		<ul class="right">
			<li class="mine"><a target="_blank"
				href="../../../../public/register2.html">注册</a></li>
			<li class="login"><span label>登录</span></li>
		</ul>
	</div>
	<div class="banner">
		<div class="b-left"></div>
		<div class="b-center">
			<div class="logo">
				<img src="../../../../img/pages/logo.png">
				<p>云网</p>
			</div>
		</div>
		<div class="b-right"></div>
	</div>
	<div class="grid-s5m0e5">
		<div class="col-main">
			<div class="main-wrap">
				<div id="content">
					<div id="content_inner">
						<div class="title">
							<p>云计算机芯片发布流程</p>
						</div>
						<div class="subtitle">
							<ul>
								<li><span label>作者：</span><span value
									style="padding-right: 10px;">cj (赵向彬)</span><span label>发布日期：</span><span
									value>2016年8月19日 21:15</span></li>
							</ul>
						</div>
						<div class="body">
							<div style="font-family: sans-serif; margin-bottom: 10px;">
								<span><b>关键词：</b></span>神经元 神经网络
							</div>
							<div style="font-family: sans-serif; margin-bottom: 10px;">
								<span><b>摘要：</b></span>
								发何发布云计算机芯片，并在服务窗口中验证
								</div>
							<div style="font-family: sans-serif; margin-bottom: 10px;">
								<span><b>正文：</b></span>
							</div>
<pre>
一、进入你的云计算机视窗，打开云计算机菜单，选择'我发布的芯片'选项卡（如果你不是开发者用户则无此选项卡），点发布芯片
	<img src="../img/mychips.png" plugin>
	<b>上传后可在芯片市场中看到，也可在此界页中直接安装，我看下芯片市场</b>
	<img src="../img/market.png" plugin>
	<b>然后选择一个芯片就可安装了，安装后在我的计算机中就可以看到，如下图：</b>
	<img src="../img/ok.png" plugin>
	<b>打开先前安装的芯片，运行它即可</b>
二、服务窗口中的菜单和工具绑定，首先定义菜单和工具，参考上图：
为服务台建立菜单和发送工具：1.新建菜单和发送工具；2.绑定到芯片所提供的功能。灰色表示未绑定
说明：不限行列，使用者自行控制菜单和工具数量，太多了服务台装不下，就没人爱用了。推荐一级菜单4个（带欢迎），二级菜单8个以内
	<b>新建了工具和菜单之后即可绑定，如图：</b>
	<img src="../img/binding.png" plugin>
	<b>下拉列表中列出的就是芯片所提供的组件的名字，下面是在服务窗口中执行“巨无”菜单结果</b>
	<img src="../img/run.png" plugin>
</pre>
						</div>
						<div class="bottom"></div>
					</div>
				</div>
				<div id="side">
					<div class="fill"></div>
					<div class="portlet">
						<div class="title">
							<span label>相关</span>
						</div>
						<ul class="items">
		<li><a href="../views/computer_hello.html" plugin target="_blank">看 云计算机的芯片开发过程：helloword 入门</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sub"></div>
		<div class="col-extra"></div>
	</div>
</body>
</html>